.cursor-pointer {
  cursor: pointer;
}

.withBorder {
  border: 1px solid black;
}

.withPadding {
  padding: 10px;
}

.withRoundedBlueBorder {
  border: 1px solid navy;
  border-radius: 5px;
}

.withBottomGutter {
  margin-bottom: 5px;
}

.withTopGutter {
  margin-top: 5px;
}

.with2xTopGutter {
  margin-top: 10px;
}

.withRightGutter {
  margin-right: 5px;
}

.withGreyBackground {
  background-color: #ccc;
}
